<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../css/ionic.css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="../css/kcash.css"/>
    <title>选择语言</title>
    <script src="../js/ionic.bundle.js"></script>
</head>
<body>
<ion-header-bar class="purseTool">
    <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
    <h1 class="title">选择语言</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-radio ng-model="choice" ng-value="'Chinese'">建立中文</ion-radio>
        <ion-radio ng-model="choice" ng-value="'English'">English</ion-radio>
    </ion-list>
</ion-content>
<script>
    var app = angular.module('myApp',['ionic']);
</script>
</body>
</html>