
<ion-header-bar>
    <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
    <h1 class="title">注册</h1>
</ion-header-bar>
<ion-content ng-controller="registerCtrl">
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <span>+86</span>
            <input type="text" placeholder="请输入手机号码"ng-model="phone">
        </label>
        <button ng-click="verification()">获取验证码</button>
    </div>
    <label class="item item-input">
        <input type="password" placeholder="请输入密码" ng-model="floginPassword">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="请输入手机短信验证码" ng-model="authCode">
    </label>
    <button class="button button-block button-dark" ng-click="register()">注册</button>
</ion-content>


