<!DOCTYPE html>
<html ng-app="kcash">
<head lang="en">
    <meta charset="UTF-8">
    <title>找回登录密码</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../css/ionic.css"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="../css/kcash.css"/>
    <script src="../js/ionic.bundle.js"></script>
    <!--<script src="../js/Kcash.js"></script>-->
</head>
<body>
<ion-header-bar>
    <i class="icon ion-chevron-left header_left"></i>
    <h1 class="title">找回登录密码</h1>
</ion-header-bar>
<ion-content>
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <span>+86</span>
            <input type="text" placeholder="请输入手机号码"ng-model="phone">
        </label>
        <button ng-click="verification()">获取验证码</button>
    </div>
    <label class="item item-input">
        <input type="text" placeholder="请输入验证码">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="请输入新密码" >
    </label>
    <label class="item item-input">
        <input type="password" placeholder="确认密码">
    </label>
    <button class="button button-block button-dark" ng-click="">
        找回登录密码
    </button>
</ion-content>
<script>
    var app = angular.module('kcash', ['ionic']);
    app.controller('registerCtrl',
            ['$scope','$http', function ($scope,$http) {
                //验证码
                $scope.verification = function () {
                    $http({
                        method: 'post',
                        url: 'http://47.75.5.78:8081/user/authCode',
                        data: {phone:$scope.phone},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        transformRequest: function (obj) {
                            return transformRequest(obj);
                        }
                    })
                            .success(function (data) {
                                console.log(data);
                                console.log('验证码'+data.data);
                                $scope.verifica = data;

                            })
                }
                //注册
            }])
</script>
</body>
</html>